.App {
  margin: 100px auto 10px;
  max-width: 900px;
}
.App p {
  text-align: center;
  font-family: "Playfair Display", serif;
}

.App a {
  color: #212529;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.App a:hover {
  text-decoration: underline;
  letter-spacing: 0.5px;
}

body {
  background-color: #cecfd2;
}
