.Weather {
  margin: 0 auto;
  box-shadow: 5px 10px 30px 2px rgba(0, 0, 0, 0.2);
  font-family: "Oswald", sans-serif;
}

.Weather .weather-info {
  background-color: #f5f5f5;
  border: 1px #f5f5f5 solid;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 25px;
}

.Weather .search {
  min-width: 230px;
  margin-top: 3px;
  margin-left: 1px;
  background: #ececee;
  border: 1px solid #ececee;
  padding: 2px 0 2px 5px;
}

.Weather .button {
  height: 30px;
  padding: 0 15px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.Weather .weather-img {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.Weather .temperature {
  font-size: 62px;
  font-weight: 600;
  line-height: 1.2;
}

.Weather .unit {
  position: relative;
  top: -18px;
  font-size: 40px;
  margin-left: 5px;
}

.Weather ul {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}

.Weather .weather-main {
  background-color: #ececee;
  border: 1px #ececee solid;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 15px;
}

.Weather .highlights {
  display: flex;
  justify-content: space-between;
}

.Weather .highlights-inner {
  background-color: #f5f5f5;
  border: 1px #f5f5f5 solid;
  border-radius: 10px;
  margin: 5px;
  padding: 15px 20px;
  min-width: 120px;
  text-align: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.Weather .highlights-inner h4 {
  margin-bottom: 20px;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}

.Weather .highlights-inner:hover h4 {
  opacity: 1;
}
